@model  MVCOyun.Models.EntityFramework.Uye
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="jumbotron" style="text-align:center;background-color:aliceblue">
    <h3>Hoşgeldin @Model.Kullaniciadi,</h3>
    <br />

    <img src="@Model.Foto" width="40%" class="rounded-circle" />
    <br />
    <br />
    <br />
    <table class="table table-bordered" style="background-color:black;color:white">
        <thead>
            <tr>

                <th>Ad Soyad</th>
                <th>Email</th>
                <th>Doğum Tarihi</th>
                <th>Yetki</th>
                <th>Şifre</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.AdSoyad</td>
                <td>@Model.Email</td>
                <td>@Model.DogumTarihi.Value.ToString("dd-MM-yyyy")</td>
                @if (Model.Yetkiid == 1)
                {
                    <td>Admin</td>
                }
                else
                {
                    <td>Kullanıcı</td>
                }
                <td>@Model.Sifre</td>
            </tr>
        </tbody>
    </table>
    <br />
    <a href="/Uye/UyeGuncelle/@Model.id" class="btn btn-primary">Bilgilerimi Güncelle</a>
</div>